<div class="row">
    <div class="col-md-12">
        <div class="col-middle">
            <div class="text-success text-center">
                <h2>Comanda ta a fost confirmata. Numarul comenzii este @ViewBag.TransactionId.</h2>
                <p> Vei fi contactat de un reprezentat RECO in scurt timp, pentru a stabili ultimele detalii ale comenzii</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center"><a href="@Url.Action("Index", "Home")" class="btn btn-primary">Mergi la pagina principala</a></div>
</div>